@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    background-image: url(images/cp2077-bg.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.center{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

h1{
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

h1 span{
    font-size: 4em;
    line-height: .8em;
}

#clock{
    display: flex;
    width: 570px;
    margin: 0 auto;
}

#clock div{
    position: relative;
    width: 100px;
    padding: 20px;
    margin: 0 5px;
    background: rgb(54, 54, 54);
    color: #fff;
    border: 2px solid #fff;
}

#clock div:last-child{
    background: rgb(255, 217, 0);
    color: #fff;
}

#clock div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .2)
}

#clock div span{
    display: block;
    text-align: center;
}

#clock div span:nth-child(1){
    font-size: 48px;
    font-weight: 800;
}

#clock div span:nth-child(2){
    font-size: 18px;
    font-weight: 800;
    margin-top: -10px;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 217, 0);
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    float: right;
    margin-right: 1.5rem;
}

.button{
    z-index: 9999;
    position: relative;
}